[submodule "FEX"]
	path = FEX
	url = https://github.com/jakub/FEX.git
	branch = fix/unity-mono-rimworld
[submodule "wine"]
	path = wine
	url = https://github.com/jakub/wine.git
	branch = fix/unity-mono-rimworld
[submodule "dxmt"]
	path = dxmt
	url = https://github.com/jakub/dxmt.git
	branch = fix/unity-mono-rimworld
[submodule "madeira-dock"]
	path = madeira-dock
	url = https://github.com/willfaust/madeira-dock.git
	branch = main
